<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @family.title %>
    </h1>
    <p> <%= @family.caption %> </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h6>
      For sale:
    </h6>
  </div>

  <div class="offset-lg-2 col-lg-8">
    <% @family.corals.each_with_index do |coral, index| %>
      <% if index % 3 == 0 %>
        <div class="card-deck mb-3">
      <% end %>

        <div class="card">
          <div class="card-body">
            <a href="/corals/<%= coral.id %> ">
              <h5 class="card-title text-dark"> <%= coral.title %> </h5>
              <img src="<%= coral.photo1 %>" class="img-fluid">
            </a>
            <div class="text-right font-weight-bold"> <%= coral.created_at.strftime("%b %d") %></div>
            <div class="text-right font-weight-bold"> $<%= coral.price %></div>
          </div>
        </div>
        <% if index % 3 == 2 %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
