<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h5 class="text-uppercase text-secondary">
      Following
    </h5>

    <div class="card-deck">
      <% current_user.recipients.each do |user| %>

        <div class="card border-white text-center">
          <a href="/users/<%= user.id %>">
            <img src="<%= user.avatar%>" class="img-fluid img-thumbnail">
          </a>

          <a href="/users/<%= user.id %>" class="text-secondary">
            <%= user.username %>
          </a>

        </div>

      <% end %>
    </div>
    <hr>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">

    <h5 class="text-uppercase text-secondary">
      All sellers
    </h5>

    <div class="card-deck">
      <% @users.each do |user| %>

        <div class="card border-white text-center">
          <a href="/users/<%= user.id %>">
            <img src="<%= user.avatar%>" class="img-fluid img-thumbnail">
          </a>

          <a href="/users/<%= user.id %>" class="text-secondary">
            <%= user.username %>
          </a>

        </div>

      <% end %>
    </div>
  </div>
</div>
</div>
