<div class="row mb-2">

  <div class="col-lg-2 col-md-2">
    <a href="/corals/new" class="btn btn-secondary">
      <i class="fa fa-fw fa-plus" ></i>
      New Post
    </a>
  </div>

  <div class="col-lg-10">
    <h5>
      Active Posts
    </h5>
  </div>
</div>

<div class="row mb-5">
  <div class="col-lg-10 offset-lg-2">
    <% current_user.corals.each_with_index do |coral, index| %>
      <% if index % 4 == 0 %>
        <div class="card-deck mb-3">
        <% end %>

        <div class="card">
          <div class="card-body">
            <a href="/corals/<%= coral.id %> ">
              <h5 class="card-title text-dark"> <%= coral.title %> </h5>
              <img src="<%= coral.photo1 %>" class="img-fluid">
            </a>
            <div class="text-right font-weight-bold"> <%= coral.created_at.strftime("%b %d") %></div>
            <div class="text-right font-weight-bold"> $<%= coral.price %></div>
          </div>
        </div>
        <% if index % 4 == 3 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<hr>
<div class="row mb-5">
  <div class="col-lg-10 offset-lg-2">
    <h5>
      Drafts
    </h5>
  </div>


  <div class="col-lg-10 offset-lg-2">
    <% current_user.corals.each_with_index do |coral, index| %>
      <% if index % 4 == 0 %>
        <div class="card-deck mb-3">
        <% end %>

        <div class="card">
          <div class="card-body">
            <a href="/corals/<%= coral.id %> ">
              <h5 class="card-title text-dark"> <%= coral.title %> </h5>
              <img src="<%= coral.photo1 %>" class="img-fluid">
            </a>
            <div class="text-right font-weight-bold"> <%= coral.created_at.strftime("%b %d") %></div>
            <div class="text-right font-weight-bold"> $<%= coral.price %></div>
          </div>
        </div>
        <% if index % 4 == 3 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
