<div class="row mb-3">
  <div class="col-md-2">
    <a href="/corals/new" class="btn btn-block btn-outline-secondary">
      List New Coral
    </a>
  </div>
  
    <div class="col-md-8">
    <p class="text-uppercase text-left">
      A marketplace for reefers to buy and sell coral frags.
    </p>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= search_form_for @q do |f| %>

      <div class="form-group pt-0">
        <%= f.label :title_cont, "&nbsp;".html_safe %>
        <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Search" %>
      </div>

      <div class="form-group">
        <%= f.label :family_id_eq, "Coral Type" %>
        <%= f.select :family_id_eq, options_from_collection_for_select(Family.all, :id, :title, @q.family_id_eq), { :include_blank => true }, :class => "form-control" %>
      </div>
      
      <div class="form-group mb-0 pb-1">
      Price
      </div>
      
      <div class="form-inline mb-2">
        <div class="input-group pl-0 pr-0 col-6">
          <%= f.label :price_gteq, "&nbsp;".html_safe%>
          <%= f.text_field :price_gteq, :class => "form-control", :placeholder => "Min" %>
        </div>

        <div class= "input-group pl-0 pr-0 col-6">
          <%= f.label :price_lteq, "&nbsp;".html_safe %>
          <%= f.text_field :price_lteq, :class => "form-control", :placeholder => "Max" %>
        </div>
      </div>
      <%= f.submit :class => "btn btn-primary btn-block" %>
      <a href="/corals" class="btn btn-default btn-block">Clear filters</a>
    <% end %>
  </div>

  <div class="col-md-9">

    <% total = @corals.count %>
    <% stop = total - (total % 3) %>

    <% @corals.each_with_index do |coral, index| %>
      <% if index == stop %>
        <% break %>
      <% else %>

        <% if index % 3 == 0 %>
          <div class="card-deck mb-3">
          <% end %>

          <div class="card">
            <div class="card-body pt-2">
              <div class= "row pt-0 pl-2">

                <div class="col-lg-10 pl-1">
                  <h6>
                    <a href="/corals/<%= coral.id %> ">
                      <div class="text-dark mb-1"> <%= coral.title %>
                      </div>
                    </a>
                    <span class="badge badge-secondary">
                      $<%= coral.price.round %>
                    </span>
                  </h6>
                </div>

                <div class="col-lg-2 pl-0 pr-0">
                  <div>

                    <% i = Like.find_by({ :user_id => current_user.id, :coral_id => coral.id }) %>
                    <% if i == nil   %>
                      <form class="form-inline" action="/create_like" method="post">
                        <input type="hidden" name="coral_id" value="<%= coral.id %>">
                        <input type="hidden" name="user_id" value="<%= current_user.id %>">
                        <button class="btn btn-link">
                          <i class="far fa-star text-warning"></i>
                        </button>
                      </form>

                    <% else %>
                      <a href="/delete_like/<%= i.id %>" class="btn btn-link">
                        <i class="fas fa-star text-warning"></i>
                      </a>
                    <% end %>
                  </div>
                </div>
              </div>

              <a href="/corals/<%= coral.id %> ">
                <img src="<%= coral.photo1 %>" class="img-fluid">
              </a>
              <div class="text-right"> <%= coral.created_at.strftime("%b %d") %>
              </div>


            </div>
          </div>

          <% if index % 3 == 2 %>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>


  <div class = "col-md-2">
  </div>

  <% if total % 3 == 1 %>
    <% coral = @corals[stop] %>

    <div class = "col-md-3">
      <div class = "card-deck">
        
        <div class="card">
            <div class="card-body pt-2">
              <div class= "row pt-0 pl-2">

                <div class="col-lg-10 pl-1">
                  <h6>
                    <a href="/corals/<%= coral.id %> ">
                      <div class="text-dark mb-1"> <%= coral.title %>
                      </div>
                    </a>
                    <span class="badge badge-secondary">
                      $<%= coral.price.round %>
                    </span>
                  </h6>
                </div>

                <div class="col-lg-2 pl-0 pr-0">
                  <div>

                    <% i = Like.find_by({ :user_id => current_user.id, :coral_id => coral.id }) %>
                    <% if i == nil   %>
                      <form class="form-inline" action="/create_like" method="post">
                        <input type="hidden" name="coral_id" value="<%= coral.id %>">
                        <input type="hidden" name="user_id" value="<%= current_user.id %>">
                        <button class="btn btn-link">
                          <i class="far fa-star text-warning"></i>
                        </button>
                      </form>

                    <% else %>
                      <a href="/delete_like/<%= i.id %>" class="btn btn-link">
                        <i class="fas fa-star text-warning"></i>
                      </a>
                    <% end %>
                  </div>
                </div>
              </div>

              <a href="/corals/<%= coral.id %> ">
                <img src="<%= coral.photo1 %>" class="img-fluid">
              </a>
              <div class="text-right"> <%= coral.created_at.strftime("%b %d") %>
              </div>


            </div>
          </div>

      </div>

    </div>
  <% end %>

  <% if total % 3 == 2 %>

    <div class = col-md-6>
      <div class = "card-deck">

        <% @corals[stop..-1].each_with_index do |coral, index| %>

        <div class="card">
            <div class="card-body pt-2">
              <div class= "row pt-0 pl-2">

                <div class="col-lg-10 pl-1">
                  <h6>
                    <a href="/corals/<%= coral.id %> ">
                      <div class="text-dark mb-1"> <%= coral.title %>
                      </div>
                    </a>
                    <span class="badge badge-secondary">
                      $<%= coral.price.round %>
                    </span>
                  </h6>
                </div>

                <div class="col-lg-2 pl-0 pr-0">
                  <div>

                    <% i = Like.find_by({ :user_id => current_user.id, :coral_id => coral.id }) %>
                    <% if i == nil   %>
                      <form class="form-inline" action="/create_like" method="post">
                        <input type="hidden" name="coral_id" value="<%= coral.id %>">
                        <input type="hidden" name="user_id" value="<%= current_user.id %>">
                        <button class="btn btn-link">
                          <i class="far fa-star text-warning"></i>
                        </button>
                      </form>

                    <% else %>
                      <a href="/delete_like/<%= i.id %>" class="btn btn-link">
                        <i class="fas fa-star text-warning"></i>
                      </a>
                    <% end %>
                  </div>
                </div>
              </div>

              <a href="/corals/<%= coral.id %> ">
                <img src="<%= coral.photo1 %>" class="img-fluid">
              </a>
              <div class="text-right"> <%= coral.created_at.strftime("%b %d") %>
              </div>


            </div>
          </div>

        <% end %>
      </div>
    <% end %>
  </div>
</div>
<hr>
