<!-- Validation failure messages -->
<% if @coral.present? %>
  <% if @coral.errors.any? %>
    <% @coral.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new coral
</h1>


<hr>

<form action="/create_coral" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @coral.title %>">
  </div>

  <div class="form-group">
    <label for="family_id">
      Family
    </label>

    <input type="text" id="family_id" name="family_id" class="form-control" value="<%= @coral.family_id %>">
  </div>

  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <input type="text" id="location_id" name="location_id" class="form-control" value="<%= @coral.location_id %>">
  </div>

  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <input type="text" id="caption" name="caption" class="form-control" value="<%= @coral.caption %>">
  </div>

  <div class="form-group">
    <label for="photo1">
      Photo1
    </label>

    <input type="text" id="photo1" name="photo1" class="form-control" value="<%= @coral.photo1 %>">
  </div>

  <div class="form-group">
    <label for="photo2">
      Photo2
    </label>

    <input type="text" id="photo2" name="photo2" class="form-control" value="<%= @coral.photo2 %>">
  </div>

  <div class="form-group">
    <label for="seller_id">
      Seller
    </label>

    <input type="text" id="seller_id" name="seller_id" class="form-control" value="<%= @coral.seller_id %>">
  </div>

  <div class="form-group">
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" class="form-control" value="<%= @coral.price %>">
  </div>

  <div class="form-group">
    <label for="obo">
      Obo
    </label>

    <input type="text" id="obo" name="obo" class="form-control" value="<%= @coral.obo %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create coral
  </button>
</form>

<hr>

<a href="/corals">
  Go back
</a>
